<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <!-- <img class="mb-4" src="" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Sign-up</h1>
    <div class="form-floating">
        <input type="email" class="form-control" id="firstName" placeholder="First Name" name="firstName"
            [(ngModel)]="registerModel.firstName">
        <label for="firstName">First Name</label>
    </div>

    <div class="form-floating">
        <input type="email" class="form-control" id="lastName" placeholder="Last Name" name="lastName"
            [(ngModel)]="registerModel.lastName">
        <label for=" lastName">Last Name</label>
    </div>

    <div class="form-floating">
        <input type="email" class="form-control" id="email" placeholder="Email Address" name="email"
            [(ngModel)]="registerModel.email">
        <label for="email">Email Address</label>
    </div>

    <div class="form-floating">
        <input type="email" class="form-control" id="username" placeholder="UserName" name="username"
            [(ngModel)]="registerModel.username">
        <label for="username">UserName</label>
    </div>
    <div class=" form-floating">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password"
            [(ngModel)]="registerModel.password">
        <label for="password">Password</label>
    </div>

    <hr>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign-up</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
</form>
<app-alert #alert></app-alert>