<form>
    <!-- <img class="mb-4" src="" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Sign-up</h1>
    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="First Name">
        <label for="floatingInput">First Name</label>
    </div>

    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="Last Name">
        <label for="floatingInput">Last Name</label>
    </div>

    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="Email Address">
        <label for="floatingInput">Email Address</label>
    </div>


    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="UserName">
        <label for="floatingInput">UserName</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <hr>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign-up</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
</form>