<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">ToDo List Manager</a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Toggle collapse
        </button> -->

        <!-- [collapse]="isCollapsed" [isAnimated]="true" -->
        <div class="navbar-collapse collapse " id="navbarCollapse">
            <ng-container>
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>

                    <li class="nav-item" *ngIf="(loggedUserObs | async) as user">
                        <a class="nav-link" routerLink="/todo" routerLinkActive="active">Add ToDo Event</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/todomap" routerLinkActive="active">ToDo Map</a>
                    </li>
                </ul>

                <div class="btn-group pe-5" dropdown *ngIf=" (loggedUserObs | async) as user">

                    <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                        aria-controls="dropdown-basic">
                        <img src="https://randomuser.me/api/portraits/lego/1.jpg" alt="mdo" width="32" height="32"
                            class="rounded-circle">
                        {{user.userName}}<span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start"
                        role="menu" aria-labelledby="button-basic">




                        <li role="menuitem"><a class="dropdown-item">Profil adatok</a>
                        </li>

                        <li role="menuitem"><a class="dropdown-item">Profil Törlése</a>
                        </li>

                        <li class=" divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()">Kilépés</a>
                        </li>
                    </ul>
                </div>



                <div *ngIf="!(loggedUserObs | async) as user">
                    <div class="text-end mr-4">
                        <button type="button" class="btn btn-outline-primary me-2" (click)="signIn()">
                            Sign-In
                        </button>
                        <button type="button" class="btn btn-primary" (click)="signUp()">
                            Sign-Up
                        </button>
                    </div>
                </div>




            </ng-container>

            <!-- <div class="btn-group pe-5" dropdown *ngIf=" (loggedUserObs | async) as user">

                <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                    aria-controls="dropdown-basic">
                    <img src="{{user.userFaceImgUrl || './assets/user.jpg'}}" alt="mdo" width="32" height="32"
                        class="rounded-circle">
                    {{user.userName}}<span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start"
                    role="menu" aria-labelledby="button-basic">

               
                    <li role="menuitem"><a class="dropdown-item" *ngFor="let urole of user.roles"
                            (click)="routeToDetailsByRoleUserName(urole,user)" routerLink>
                            {{urole}}
                            Account</a></li>



                    <li role="menuitem"><a class="dropdown-item" routerLink="/managerealestate">Manage RealEstate</a>
                    </li>

                    <li role="menuitem"><a class="dropdown-item" routerLink="/user/edit">Edit Profile</a>
                    </li>

                    <li class=" divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()">Log out</a>
                    </li>
                </ul>
            </div> -->

            <!-- <ul class="navbar-nav justify-content-end pe-3" *ngIf=" !(loggedUserObs | async)">
                <li class="nav-item px-2">
                  
                    <button type="button" class="btn btn-primary" (click)="signIn()">
                        Sign in
                    </button>
                </li>
                <li class="nav-item px-2">
                   
                    <button type="button" class="btn btn-primary" (click)="signUp()">
                        Sign up
                    </button>
                </li>
            </ul> -->




        </div>
    </div>
</nav>

<!-- Navbar collapse test -->
<!-- <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div> -->