<form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <!-- <img class="mb-4" src="" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Sign-in</h1>

    <div class="form-floating">
        <input type="text" class="form-control" id="username" placeholder="username" name="username"
            [(ngModel)]="loginModel.username">
        <label for="username">UserName</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
            [(ngModel)]="loginModel.password">
        <label for=" password">Password</label>
    </div>

    <hr>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign-in</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
</form>